
.globalwrap{
  width:1070px;
  margin: 0 auto;
}

.lastStage{
  display: block;
z-index: 2;
position: absolute;
top: 50%;
right: 28%;
background-color: white;
padding: 2em;
border: 1px solid lightgrey;
box-shadow: 2px 2px 5px #888;
width: 45%;
}

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

a{
  text-decoration: none;
  color: @orange;
}

.promo a{
  color:black;
}

.siteMap a{
  color: black;
}




@import "reset";
@import "typography";
@import "grid";


   /* ==========================================================================
    Général
   ========================================================================== */

.hiddenTitle{
  display: none;
}

body {
    font-size: 16px;
    line-height: 1.4;
    background-image: url('../img/bcg.png');
    background-repeat: repeat;
    font-family: 'Droid Sans', sans-serif;
}

   /* ==========================================================================
    Header
   ========================================================================== */

.logo{
  width:50%;
}
.wsHeader{
  position:relative;
    margin-top: 1.5em;
      height: 74px;
}

.logBask{
  float:right;
    width: 49%;
}

.connect{
font-size: 1.3em;
font-family: 'Amaranth',sans-serif;
margin: 0;
color: #3E622D;
font-weight: normal;
display: block;
width: 9em;
float: left;
}
.cart{
  margin: 0; 
  font-size: 1.3em;
  font-family: 'Amaranth', sans-serif;
  margin: 0;
  color: @orange;
  font-weight: normal;
  display: block;
}

#login, #basket{
  display:inline;
    width: 248px;
      vertical-align: top;

img{
      float:left;
      padding-right: 1em;
}
          
}


   /* ==========================================================================
    Menu
   ========================================================================== */
  
.listTitle{
  display:inline;
  text-align: center;

      .listInt{
        color: @green;
        text-decoration: none;
        margin: 0;
        font-size: 1.3em;
        height: 100%;
        padding: 0.7em 1.9em 0.7em 1.95em;
}
}

.listInt:hover{

      
      background-color: @green;
      padding-top: 0.61em;
      color: white;
}

.listTitle:hover,.listTitle:active{ 

  .dropDwn{
    transition-delay: 0.4s;
    -moz-transition-delay: 0.4s; /* Firefox 4 */
    -webkit-transition-delay: 0.4s; /* Safari and Chrome */
    -o-transition-delay: 0.4s; /* Opera */
    visibility: visible;
    color:black;
    background-color: white;
    width: 1070px;
    margin-top: 0.8em;
    border: 1px @green;
    padding-top: 1em;
    padding-bottom: 1em;
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1);
  -o-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1);
  }

    .second{
    right: 9em;
    width: 36.3em;

    .listSubTitle{
      width: 10.8em;
    }
  }

  .third{
    right: 8.7em;
    width: 23.3em;

    .listSubTitle{
      width:12em;
    }
  }

    .fourth{
      right: 8.7em;
      width: 14.3em;

    li{
      width:12em;
    }
  }
}

.listSubTitle{
display: inline-block;
width: 15.1em;
font-size: 0.8em;
width: 15.1em;
        min-height: auto;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        *display: inline;
        _height: 250px;
}

.mainNav{
  background-color: White;
height: 3em;
padding-top: 1em;
margin-top: 0em;
}

.dropDwn{
  position: absolute;
  visibility: hidden;
  right: 8.7em;

   li{
    text-align: left; 

    .menuSecTitle{
      color: @green ; 

    }

    a{
      color:black;


      &:hover{
        color:@orange;
      }
    }
  }
}



   /* ==========================================================================
    Content accueil
   ========================================================================== */

.full{
  background-color: white;
  padding-bottom: 1.5em;
}
.contentwrap{
  margin: 1em 0 0 0;
    border-radius: 10px;
     background-color:  @bcgGrey;  
}

.sbLeft{
  float: left;
  margin: 1em 1em 0 0;
  width: 24.6%;
  -moz-box-shadow: 0px 2px 5px -2px #656565;
  -webkit-box-shadow: 0px 2px 5px -2px #656565;
  -o-box-shadow: 0px 2px 5px -2px #656565;
  box-shadow: 0px 2px 5px -2px #656565;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

    section{
      margin-top: 1em;
   

    &:first-child{
      margin-top:0em;
    } 
  }
}

.Apropos{
  padding: 0 1em 0 1em;
  p{
    width: 100%;
  }

  img{
    margin:0.4em 0 0.4em 0;
  }
}

.sbLeft .promo, .sbLeft .actu{
  padding:0 1em 0 1em;
}

.promo img{
  float:left;
    margin: 0 0.75em 1em 0;
    border-radius: 5px;
}

.promo section{
  margin: 0 0 2em 0;
}

.promo h1{
  margin: 0 0 0.5em 0;
}

.promo div{
  clear:both;
}

.actu{
  clear: both;
  margin: 2em 0 0 0;
}

.content{    
  display: inline-block;
  margin: 1em 0 0 0;
  width: 48.5em;

}

.topVentes{
  height:390px;  
}

.tv{
  display: inline-block;
  margin: 0em 16px 0 0;
  width: 213px;
  vertical-align: top;
  padding: 1em;
  -moz-box-shadow: 0px 2px 5px -2px #656565;
-webkit-box-shadow: 0px 2px 5px -2px #656565;
-o-box-shadow: 0px 2px 5px -2px #656565;
box-shadow: 0px 2px 5px -2px #656565;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

  &:hover{
    background-color: @bcgGrey;
  }
}

.tv img{
display: block;
margin: 0 auto;
margin-bottom: 1em;
border-radius: 5px;
}

.tv:last-child{
  margin-right:0px;
  vertical-align: top;
}

.plusConsultes{
  margin: 3em 0 0 0;
  height:390px;  
}

.pc{
  display: inline-block;
  margin: 0em 16px 0 0;
  width: 213px;
  vertical-align: top;
  padding: 1em;
  -moz-box-shadow: 0px 2px 5px -2px #656565;
  -webkit-box-shadow: 0px 2px 5px -2px #656565;
  -o-box-shadow: 0px 2px 5px -2px #656565;
  box-shadow: 0px 2px 5px -2px #656565;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  &:hover{
    background-color: @bcgGrey;
  }
}

.pc img{
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  border-radius: 5px;
}

.pc:last-child{
  margin-right:0px;
  vertical-align: top;
}

.nouveautes{
  margin: 3em 0 0 0;
  height: 493px;
}

.nv{
  display: inline-block;
  margin: 0em 16px 0 0;
  width: 213px;
  vertical-align: top;
  padding: 1em;
  -moz-box-shadow: 0px 2px 5px -2px #656565;
  -webkit-box-shadow: 0px 2px 5px -2px #656565;
  -o-box-shadow: 0px 2px 5px -2px #656565;
  box-shadow: 0px 2px 5px -2px #656565;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  &:hover{
    background-color: @bcgGrey;
  }
}

.nv img{
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.nv:last-child{
margin-right:0px;
  vertical-align: top;
}

.colophon{
  margin: 2em 0 0 0;
}

.altNav{
list-style-type: none;
}

.alistTitle{
  display:inline-block;
    margin:10px 10px 0 0;
      width:237px;
        vertical-align: top;
}

.alistTitle+.alistTitle+.alistTitle+.alistTitle{
  margin-right: 0px;
}

.alistTitle h3 a{
  color:@orange;
}

.alistSubTitle h4 {
  color:@green;
}


.descr{
  font-size: 0.9em;
}

.price{
  float: right;
  margin-top: 1em;
  font-weight: 700;
}

.rating{
  float: left;
  margin-top: 1em;
}

.productLinks{
  clear: both;

  .sendBtn{
    font-size: 0.9em;
    float:right;  
    margin-top: 0.7em;
  }


}
/* ==========================================================================
   Product Page
   ========================================================================== */
.sbRight{
  float: right;
  margin: 1em 1em 0 1em;
  width: 23%; 
}

.bpBar{
  h1{
    margin: 0.7em 0 0.7em 0;
  }

  input{
  display: block;
  margin-bottom: 2.8em;
  }
  }

  .sendBtn{
    width:auto;
    margin-top:1em;
  padding: 4px 8px 4px 8px;
  background: -moz-linear-gradient(
              top,
              #92e823 0%,
              #98c93c);



  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#92e823),
    to(#98c93c));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px dashed grey;
  -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
  -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);

  box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);

  text-shadow:
    0px -1px 0px rgba(000,000,000,0.4),
    0px 1px 0px rgba(255,255,255,0.3);

    background-color: #92e823;


    &:hover{
  background: -moz-linear-gradient(
    top,
    #92e823 0%,
    #98c93c);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#92e823),
    to(#98c93c));

   background: -moz-linear-gradient(
    top,
    #f1f1f1 0%,
    #dbdbdb);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#f1f1f1),
    to(#dbdbdb));

  background-color: #92e823;
    }
}

  

.addCart{
  margin: 4.5em;
}

.payementOpt{
margin-top: 1em;
}

.dispo a{
  float: left;
  margin-right: 1em;
  height: 2.8em;
}

.otherProducts{
margin-top: 1.5em;
text-align: center;
background-color: white;
padding-top: 1em;
padding-bottom: 1em;

  h1{
    text-align: left;
margin-left: 9%;
  }


  li{
    display: inline-block;
    width: 17%;
  }
}



.contentProduct{
    display: block;
  margin: 0 0 0 1em;
  width: 48.4em;

    h2{
      margin:0;
    }

    a:hover{
      text-decoration: underline;
    }
}

.contentImg {
  width: 16.125em;
  float: left;

    img{
          
      height: auto;
      width: 97%;
      margin-right: 1em;
          
    }
  }


.contentFiche{
  margin-top: 1.4em;
  float: right;
  width: 32em;
}
.productPage .full{
  height:40em;
}

.dispo{
  text-align: left;
}

/* ==========================================================================
   Login page
   ========================================================================== */
.subscribe{
  margin-left:1em;


  fieldset{
    background-image: url('../img/bcg.png');
    background-repeat: repeat;
    border-radius: 10px;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-bottom: 1em;

  }

  form{
    margin: 0 auto;
    width: 54em;

  }

  .listOpt{
    margin-bottom: 1.4em;
  }

  label{
display: block;
margin-bottom: 0.4em;
margin-top: 1em;
  }

  .logconfirm{
    display: block;
  }


  input[type="email"]{
    border-radius: 10px;
    width: 12em;
    padding-left: 0.4em;
    height: 1.5em;
  }

    input[type="text"]{
    border-radius: 10px;
    width: 10em;
    padding-left: 0.4em;
    height: 1.5em;
  }

    input[type="password"]{
    border-radius: 10px;
    width: 10em;
    padding-left: 0.4em;
    height: 1.5em;
  }

  input{
    display: inline;

  }

  h4{
    margin: 0 0 0.5em 0;
  }

  legend{
    font-size: 1.3em;
font-family: 'Amaranth',sans-serif;
margin: 0;
color: @green;
font-weight: normal;
  }


}

.adress input{
  width: 15em;
  border-radius: 10px;
  padding-left: 0.4em;
  height: 1.5em;
}

.listOpt{

  li{
    display: inline;
  }

   label{
  display: inline;
}
  input{
    margin-right: 1.4em;
  }
}

/* ==========================================================================
   Cart
   ========================================================================== */

.cartDiv{
  margin: 0 1em 0 1em;

  table{
    width: 100%;

    th{
      text-align: left;
      font-family: 'Amaranth',sans-serif;
      color:@green;
      height: 2em;
    }

    .desi{
      width: 47.5%
    }

    .dispo{
      width: 16%;
      text-align: center;
    }

    .px{
      width: 12.8%;
    }
  }

  .cartTotal p{
    text-align: right;
margin-right: 3.5em;
color: @orange;
font-family: 'Amaranth', sans-serif;
font-weight: 700;


    .totalPrice{
      font-size: 2em;
      color:@green;
    }
  }
}

tr{
  border-bottom: 1px dotted lightgrey;
}

.cartTotal{
  margin-top: 1em;
  height: 5em;

  a{
    margin-right: 3.5em;
float: right;
  }
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer{
  margin-left: 1.8em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
    section{
      width: 15.3em;
      display: inline-block;
      vertical-align: top;
      margin-right: 1em;
      &:last-child{
        margin-right: 0;
      }
    }
    p{
      margin: 0;
      padding: 0;
      height: 1.4em;

      &:first-of-type{
        height:auto;
      }
    }

}

.addr{
  .column(5);
}

.choixLivraison{
    .column(5);
}

.payement{
  .column(5);
}
.isOk{
  clear:both;
  margin-top: 12em;
}

.isOk p{
  margin-bottom: 1em;
}

.etape .cartTable{
  width: 100%
}

.accordion{
  background-color: white;
padding: 1em 1em 2em 1em;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 959px) {
  /* zone de floue pour écrans < 17' */
  body {
   
  }
}

@media only screen and (max-width: 768px) and (max-width: 959px) {
  /* tablet mode portrait */
  .mainNav{
    margin-top: 1em;
  }

  .full{
    width: 90%;
    margin: 0 auto;
  }

  .globalwrap{
    width: 90%;
  }

  .content {
    width: 100%;
  }

  .sbLeft{
    display: none;
  }

  .logBask{
    width: 60%;
  }

  .topVentes, .plusConsultes, .nouveautes{
    height: 100%;
  }

  .tv, .pc, .nv{
    margin: 0em 12px 0 0;
    width: 161px;

    img{
      width: 95%;
      height: auto;
    }
  }

  footer section{
    width: 12.45em;
  }

  .goHome{
    display:none;
  }

  /*Login & inscription*/

  .subscribe {
    margin:0;

    form{
      width:100%;
    }
  }

.listTitle .listInt {
  color: #97c93c;
  text-decoration: none;
  margin: 0;
  font-size: 1em;
  height: 75%;
  padding: 0.4em 1em 1.4em 1em;
}

.listInt:hover {
  background-color: white;
  color:green;
}

.listSubTitle {
font-size: 0.8em;
width: 9.5em;
}

.dropDwn {
right: 2.4em;
}

.listTitle:hover .dropDwn, .listTitle:active .dropDwn {
width: 90%;
margin-top: 0.8em;
}

.listTitle:hover .second, .listTitle:active .second {
right: 2.4em;
}

.listTitle:hover .third, .listTitle:active .third {
right: 2.4em;
width: 42%;

}

.listTitle:hover .fourth, .listTitle:active .fourth {
right: 2.7em;
width: 22%;
}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* smartphone et tablet en mode paysage */
  body {
   
  }
}

@media only screen and (max-width: 479px) {
  /* smartphone en mode portrait */
  body {
   
  }
}



/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}